<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	  <title>new.html</title>
	  <%= javascript_include_tag :defaults %>
	  <%= yield :head %>
  </head>
  <body>
  
  <% if flash[:warning] or flash[:notice] %>
  <div id="notice" <% if flash[:warning] %>class="warning"<% end %>>
    <%= flash[:warning] || flash[:notice] %>
  </div>
  <script type="text/javascript">
    setTimeout("new Effect.Fade('notice');", 15000)
  </script>
  <% end %>
  
  
  <%= form_tag session_path do %>
  <div class="field">
    <%= label_tag :user %><br />
    <%= text_field_tag :user %>
  </div>
  <div class="field">
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </div>

  <%=select_tag (:type ,options_for_select([['Administrator', 'admin'],['Teacher', 'teacher'],['Student', 'student']]))%>

  <div class="actions">
    <%= submit_tag 'Login' %>
  </div>
  <% end %>
  
  
  </body>
</html>
