<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @classroom.id %>
</p>

<p>
  <b>Teacher:</b>
  <%= @classroom.teacher_id %>
</p>

<p>
  <b>Grade:</b>
  <%= @classroom.grade %>
</p>


<%= link_to 'Edit', edit_classroom_path(@classroom) %> |
<%= link_to 'Back', classrooms_path %>
