<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @assignment.id %>
</p>

<p>
  <b>Group:</b>
  <%= @assignment.group_id %>
</p>

<p>
  <b>Duedate:</b>
  <%= @assignment.duedate %>
</p>

<p>
  <b>Description:</b>
  <%= @assignment.description %>
</p>

<%if (session[:type] == 'teacher')%>
  <p>
  <b> Uploads </b>
  <% @assignment.uploads.each do |upload| %>
	<p>
	<%=upload.student.name%> 
	<%=link_to 'Check', group_assignment_upload_path(@group,@assignment,upload)%>
  <%end%>
  <p>
	<%= link_to 'Edit', edit_group_assignment_path(@group,@assignment) %> |
<%elsif (session[:type]=='student')%>
  <%= link_to 'Upload', new_group_assignment_upload_path(@group,@assignment)%>
<%end%>
<%= link_to 'Back', @group %>
