<h1>Listing teachers</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Lastname</th>
    <th>Phone</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teachers.each do |teacher| %>
  <tr>
    <td><%= teacher.id %></td>
    <td><%= teacher.name %></td>
    <td><%= teacher.lastname %></td>
    <td><%= teacher.phone %></td>
    <td><%= teacher.email %></td>
    <td><%= link_to 'Show', teacher %></td>
    <td><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
    <td><%= link_to 'Destroy', teacher, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Teacher', new_teacher_path %>
<%= link_to 'Go back', Administrator.find(session[:id])%>
<% if (session[:id]!=nil) %>
<%= link_to 'Logout', session_path, :method=>:delete%>
<% end %>
