<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @teacher.id %>
</p>

<p>
  <b>Name:</b>
  <%= @teacher.name %>
</p>

<p>
  <b>Lastname:</b>
  <%= @teacher.lastname %>
</p>

<p>
  <b>Phone:</b>
  <%= @teacher.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @teacher.email %>
</p>


<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
